.card {
  border-top: 25px solid #ff5500;
  border-bottom: 25px solid #ff5500;
  border-left: 25px solid #ff9900;
  border-right: 25px solid #ff9900;
  border-radius: 10px;
}

.video-frame {
  border-radius: 8px;
  overflow: hidden;
}

.custom-card {
  border-top: 25px solid #ff5500;
  border-bottom: 25px solid #ff5500;
  border-left: 25px solid #ff9900;
  border-right: 25px solid #ff9900;
  border-radius: 10px;
  padding: 24px;
}

.custom-card p {
  text-align: center;
}

@media (max-width: 600px) {
  .hide-on-small-screen {
    display: none;
  }
}

.imagem-fundo {
  background-image: url(./components/images/imagem-fundo.png);
  width: 100%;
  height: 100%;
}
